REACT_APP_API_BASE=https://func-tucn-cc-dev-balotaa.azurewebsites.net
REACT_APP_COGNITO_AUTHORITY=https://cognito-idp.eu-north-1.amazonaws.com/eu-north-1_jyLIY5S7E
REACT_APP_COGNITO_CLIENT_ID=66qeenpqcd42fgcubpeunepbr0
REACT_APP_COGNITO_DOMAIN=https://eu-north-1jyliy5s7e.auth.eu-north-1.amazoncognito.com
REACT_APP_OIDC_REDIRECT_URI=https://app-tucn-cc-dev-balotaa.azurewebsites.net
REACT_APP_OIDC_SCOPE=openid email profile
REACT_APP_LOGOUT_URI=https://app-tucet-cc-dev-balotaa.azurewebsites.net
